*
!DRIVERS/
!DRIVERS/inc/
!DRIVERS/inc/*
!DRIVERS/inc/Fields/
!DRIVERS/inc/Fields/*
!DRIVERS/src/
!DRIVERS/src/Fields/
!DRIVERS/src/Fields/*
!DRIVERS/src/*
!FreeRTOS-Env/
!FreeRTOS-Env/src/
!FreeRTOS-Env/src/*
!FreeRTOS-Env/inc/
!FreeRTOS-Env/inc/*
!FreeRTOS-Env/rtos/
!FreeRTOS-Env/rtos/*
!.gitignore
